streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0

geopandas==0.14.4
shapely==2.0.4
pyproj==3.6.1
pyogrio==0.7.2

folium==0.15.1
streamlit-folium==0.18.0
openpyxl==3.1.5
requests==2.32.3
sqlalchemy==2.0.30
matplotlib==3.8.4
psycopg2-binary==2.9.9